<p>Here's a sample of our cool playlist:</p>

<h2>{{featuredSong.title}}</h2>
<p>by {{featuredSong.artist}}</p>

<!-- you can only check truthy/falsy directly in HBS if statements
       (===, <, >, etc. are NOT allowed) -->
{{#if featuredSong.comment}}
<h3>Curator's Comment</h3>
<p>{{featuredSong.comment}}</p>
{{else}}
<p>No comment yet.</p>
{{/if}}

<img src="{{featuredSong.photoUrl}}" />

<a href="/playlist">See the Full Playlist</a>


<!-- "login-form.hbs" becomes "login_form"
     (hyphens in the filename get turned into underscores) -->
{{> login_form}}
